<%- include('../../layouts/adminHeader') -%>
    <main class="px-5 py-3">
        <h1 class="mb-3">Thêm nhóm danh mục</h1>
        <form action="/admin/category-group/create" method="post" enctype="multipart/form-data">
            
            <% errors.forEach(err => { %>
                <li class="text-danger mb-2"><%= err.msg %></li>
            <% }); %>

            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Tên nhóm</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="img" class="col-sm-2 col-form-label">Ảnh</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="img" id="img">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Thêm</button>
            <a class="btn btn-secondary ms-2" href="/admin/category-group">Trở về</a>
        </form>

    </main>
    <% if (locals.createSuccess) { %>
        <script>
            alert('Thêm mới thành công')
            window.location = '/admin/category-group'
        </script>
    <% } %>
<%- include('../../layouts/adminFooter') -%>
